<style>
    #econt-notification:hover {
        cursor: pointer;
        background: #dadada;
        box-shadow: 0 4px 5px #ccc;
    }
</style>
<div id="econt-notification" class="container-fluid" style="background:#f5f7fa; border-bottom:1px solid #ddd; padding:8px 15px; font-size:13px;">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="position:relative;">
      <span style="color:#337ab7;">
        Текущата Ви версия на модула за доставки на Еконт "Econt payment and delivery" е <strong>{{ current_econt_delivery_version }}</strong>.
        Има налична по-нова версия - <strong>{{ latest_github_release_version }}</strong>.
        Препоръчително е да я свалите и инсталирате, като следвате инструкциите.
      </span>
            <div class="pull-right" style="display:flex; gap:20px;">
                <a href="https://github.com/econt/opencart-extension/releases/latest" class="btn btn-primary btn-xs" target="_blank" style="display:inline-flex; align-items:center; gap:4px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:14px; height:14px;">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                    Сваляне
                </a>
                <a href="https://github.com/econt/opencart-extension/wiki/Upgrade" class="btn btn-info btn-xs" target="_blank" style="display:inline-flex; align-items:center; gap:4px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:14px; height:14px;">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                    </svg>
                    Инструкции
                </a>
            </div>
        </div>
    </div>
</div>
